 @charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
  background: #e9e9e9;
  color: #9a9a9a;
  font: 100%/1.5em "Droid Sans", sans-serif;
  margin: 0;
}

a { text-decoration: none; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

h4, h5 {
  line-height: 1.5em;
  margin: 0;
}

hr {
  background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

input {
  border: 0;
  color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

/* ---------- LIVE-CHAT ---------- */

#live-chat {
  bottom: 0;
  font-size: 12px;
  right: 24px;
  position: fixed;
  width: 300px;
}

#live-chat header {
  background: #293239;
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 16px 24px;
}

#live-chat h4:before {
  background: #1a8a34;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}

#live-chat h4 {
  font-size: 12px;
  padding-left: 30px;
}

#live-chat h5 {
  font-size: 10px;
}

#live-chat form {
  padding: 30px;
}

#live-chat input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  outline: none;
  width: 234px;
}

.chat-message-counter {
  /* background: #e62727; */
  /* border: 1px solid #fff; */
  border-radius: 50%;
  display: none;
  font-size: 12px;
  font-weight: bold;
  height: 58px;
  left: 0;
  line-height: 50px;
  margin: -15px 0 0 -15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
}

.chat-close { 
  border-radius: 50%; 
  display: block;
  float: right;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  margin: 2px 0 0 0;
  text-align: center;
  width: 16px;
}

.chat {
  background: #fff;
}

.chat-history {
  height: 372px;
  padding: 3px;
  /* overflow-y: scroll; */
}

.chat-message {
  margin: 16px 0;
}

.chat-message img {
  border-radius: 50%;
  float: left;
}

.chat-message-content {
  margin-left: 56px;
}

.chat-time {
  float: right;
  font-size: 10px;
}

.chat-feedback {
  font-style: italic; 
  margin: 0 0 0 80px;
}













































main {
  height: calc(100% - 100px);
  padding-bottom: 0; 
}
 

#messages-card {
  height: 100%;
  padding-bottom: 0;
  margin-top: 0px;
  width: 100%;
}

.justify-content-around {
  -ms-flex-pack: distribute!important;
  justify-content: space-around!important;
  background-color: #F4C900;
  padding-bottom: 20px;
}

#stt2{
  margin-right: -100px; /*CAMBIE*/
  /* font-size: 12px; */
}



#messages-card-container {
  height: calc(100% - 5px);
  width: 40%; 
}
.mdl-layout__header-row span {
  margin-left: 15px;
  margin-top: 6px;
}

.mdl-layout__header-row a {
  margin-left: 5px;
  margin-top: -21px;
  color: #fff;
}

.mdl-grid {
  max-width: 100%;
  margin: auto;
}

.material-icons {
  font-size: 36px;
  top: 8px;
  position: relative;
}

.mdl-layout__header-row {
  padding: 0;
  margin: 0 auto;
}

.mdl-card__supporting-text {
  width: auto;
  height: 100%;
  padding-top: 0px;
  font-family: "Roboto-Light";
  /* background-color: #f9504333; */
}

#messages {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
  height: calc(100% - 105px);
  max-height: calc(100% - 105px);
  display: block;
  /* background-color: #ccc2c269; */
}

#message-form {
  /*display: flex; 
  
  float: left;   cambie */
  flex-direction: row;
  width: 80%;
  font-size: 12px;
}

#sommelier{
  height: 550px;
  margin:10px auto;
  display:block; 
  
}


.container-fluid{
  height:550px;
  margin-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
}

#message-form .mdl-textfield {
  width: calc(70% - 12px);
}

#message-form .mdl-textfield .parent{
     pointer-events: none;
}

#message-form button,
#image-form button {
  margin: 1px 0 0 20px;
  width: 35px;
}

.mdl-card {
  min-height: auto;
}

.mdl-card {
  background: linear-gradient(white, #f9f9f9);
  justify-content: space-between;
}

#image-form #submitImage {
  width: auto;
  padding: 0 6px 0 1px;
  min-width: 0;
}

#image-form #submitImage .material-icons {
  top: -1px;
}

@media screen and (max-width: 610px) {
  header {
    height: 10px;
    padding-bottom: 0px !important;
    height: 0;
    background-color: inherit;
  }
  #messages-card {
    margin: 0;
    width: 100%;
  }
  #messages-card-container {
    height: calc(100% - 5px);
    width: 40%; /*CAMBIE*/
  }
}

.mdl-textfield__label:after {
  background-color: rgb(255, 152, 0);
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: rgb(255, 152, 0);
}

.mdl-button .material-icons {
  top: -1px;
  margin-right: 5px;
}

.msg-card-wide.mdl-card {
  width: 100%;
  height: auto;
  padding: 10px;
}

.msg-card-wide.mdl-card.user {
  text-align: right;
  margin-top: 10px;
  width: 250px;
  right: 0px;
  margin-left: auto;
   
   background: #F7DC6F;  
  border-top-left-radius: 8px;
  border: solid #e6c177ad 1px; 
}

.user-line {
  margin-bottom: -5px;
  margin-top: -10px;
  margin-left: auto;
  width: 20%;
  height: 30px;
  font-size: 10px;
  border-top: 2px solid #979797;
}

.msg-card-wide.mdl-card.bot {
  text-align: left;
  margin-top: 10px;
  width: 250px;
  background: #f3f3f3;
  border-top-right-radius: 8px;
  border: solid 1px #979797;
}

.bot-line {
  margin-bottom: -5px;
  margin-left: auto;
  margin-top: -5px;
  width: 50px;
  height: 20px;
  font-size: 10px;
  border-top: 2px solid #979797;
}

.msg-card-wide.mdl-card .mdl-card__supporting-text {
  font-size: auto;
  line-height: normalvw;
}
.mdl-layout__header {min-height: 50px;}
#message-card-header {
  width: 100%;
  height: 50px;
  margin-left: 0%;
  background: url('/static/img/app-bar.png');
}

#menu_bar {
  margin-left: 98%;
  position: relative;
  top: -30px;
}

#bot_icon {
  margin-left: 1%;
  margin-top: 5px;
}

#bot_title {
  margin-top: 10%;
}

#bot_heading {
  font-size: 30pt;
  margin-left: 17px;
}

#belowtext {
  background-color: #EDEDED;
  height: 109px;
  width: 100%;
  margin-top: 3px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   font-size: 12pt;
}
::-moz-placeholder { /* Firefox 19+ */
   font-size: 12pt;
}
:-ms-input-placeholder { /* IE 10+ */
   font-size: 12pt;
}
:-moz-placeholder { /* Firefox 18- */
   font-size: 12pt;
}

@font-face {
    font-family:"Roboto-BlackItalic";
    src: url("../../static/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
    font-family:"Roboto-Regular";
    src: url("../../static/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family:"Roboto-Medium";
    src: url("../../static/Roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family:"Roboto-Light";
    src: url("../../static/Roboto/Roboto-Light.ttf");
}

#submit{
  background-color: transparent;
    border: medium none;
    height: 62px;
}
.textfield__input{
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: currentcolor currentcolor rgba(0, 0, 0, 0.12);
    border-image: none;
    border-style: none none none;
    border-width: medium medium 1px;
    color: inherit;
    display: block;
    font-family: "Roboto-Regular","Arial",sans-serif;
    font-size: 23pt;
    margin: -12px 1px 5px;
    padding: 4px 10px;
    text-align: left;
    width: 113%;
    outline: none;

}



#q{
  font-size: 16px;
}

















.footer {
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* padding: 30px 30px 20px 30px; */
  /* color: #2f2f2f; */
  background-color: #191919;
  /* border-top: 1px solid #e5e5e5; */
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

